# NOTE: clang-format(18) -style=google -dump-config | bat

BasedOnStyle: Google
Standard: c++20

# indent
UseTab: ForIndentation
TabWidth: 2
IndentWidth: 2
ColumnLimit: 0
AccessModifierOffset: -2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2

# constructor
BreakConstructorInitializersBeforeComma: true
PackConstructorInitializers: CurrentLine

# wrapping
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

# reference / pointer alignment
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

# line break
BreakBeforeBinaryOperators: All
AlignOperands: AlignAfterOperator
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

# include blocks
IncludeBlocks: Preserve
