name: Build nix profile
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
    paths:
      - ".github/**"
      - "**.nix"
      - "flake.lock"
      - "setup.py"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        include:
          - os: ubuntu-latest
            profile: home
          - os: ubuntu-latest
            profile: nixos
            args: --build
          - os: macos-latest
            profile: home
          - os: macos-latest
            profile: darwin
            args: --build --hostname hack-local-suffix
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup nix
        uses: ./.github/workflows/nix-setup
        with:
          free_disk_space: ${{ matrix.os == 'ubuntu-latest' }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build target
        run: |
          set -o pipefail
          ./setup.py --bootstrap --profile ${{ matrix.profile }} ${{ matrix.args }}

      - name: show config
        if: always()
        run: |
          cat ./config/default.nix

      - name: Output build failure
        if: failure()
        run: |
          drv=$(grep "For full logs, run" /tmp/nix-build-err.log | grep -oE "/nix/store/.*.drv")
          nix log $drv
          echo $drv
          exit 1
