name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - ".github/**"
      - "**.nix"
      - "flake.lock"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        # os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23
        with:
          nix_path: nixpkgs=channel:nixos-23.05
          extra_nix_config: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v14
        with:
          name: williamhsieh
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build --show-trace
      - name: building home-manager profile
        run: ./result/bin/home-manager build --show-trace --flake .#william
