name: Comment diff in PR
permissions:
  pull-requests: write
on:
  workflow_dispatch:
  push:
    branches:
      - update_flake_lock_action

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            profile: home
          - os: ubuntu-latest
            profile: nixos
          - os: macos-latest
            profile: home
          - os: macos-latest
            profile: darwin
            args: --hostname hack-local-suffix

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup nix
        uses: ./.github/workflows/nix-setup
        with:
          free_disk_space: ${{ matrix.os == 'ubuntu-latest' }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build new profile
        run: |
          set -o pipefail
          ./setup.py --build --bootstrap --profile ${{ matrix.profile }} ${{ matrix.args }} -- -v > >(tee stdout.log) 2> >(tee /tmp/nix-build-err.log >&2)
          mv result new-profile

      - name: show config
        if: always()
        run: |
          cat ./config/default.nix

      - name: Fetch old profile
        run: |
          set -o pipefail
          git clone https://github.com/WilliamHsieh/dotfiles
          ./dotfiles/setup.py --build --bootstrap --profile ${{ matrix.profile }} ${{ matrix.args }}
          mv result old-profile

      - name: Output build failure
        if: failure()
        run: |
          drv=$(grep "For full logs, run" /tmp/nix-build-err.log | grep -oE "/nix/store/.*.drv")
          if [ -n $drv ]; then
            nix log $drv
            echo $drv
          fi
          exit 1

      - name: Diff profile
        id: diff
        run: |
          echo "diff<<EOF" >> "${GITHUB_OUTPUT}"
          nix run nixpkgs#nvd diff ./old-profile ./new-profile >> "${GITHUB_OUTPUT}"
          echo "EOF" >> "${GITHUB_OUTPUT}"

      - uses: jwalton/gh-find-current-pr@v1
        id: finder

      - name: Comment report in pr
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ steps.finder.outputs.pr }}
          hide_and_recreate: true
          hide_classify: "OUTDATED"
          header: "${{ matrix.os }}-${{ matrix.profile }}"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            ### Report for `${{ matrix.os }}` `${{ matrix.profile }}`

            <details>
            <summary> Version changes </summary> <br>
            <pre> ${{ steps.diff.outputs.diff }} </pre>
            </details>
