name: Update flake.lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  lockfile:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Check flake
        uses: DeterminateSystems/flake-checker-action@v12
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          commit-msg: "chore(nix): update flake.lock"
          nix-options: --accept-flake-config
          token: ${{ secrets.PR_COMMENT }}
          pr-title: "Update flake.lock"
          pr-labels: |
            bot
